# Refs:
# editorconfig: https://EditorConfig.org
# csharpier: https://csharpier.com/docs/Configuration
# .Net/C# code style rules: https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options

# top-most EditorConfig file
root = true

### General formatting ###
[*]
charset = utf-8
insert_final_newline = true
end_of_line = lf

### C# code analysis configuration ###
[*.{cs}]
# General formatting
indent_style = tab
indent_size = 2
tab_width = 2
max_line_length = 100
trim_trailing_whitespace = true

# Quality rules (CA####)

# Style rules (IDE####)
# - Language and unneccessary code
dotnet_diagnostic.IDE0008.severity = suggestion

# - formatting
dotnet_diagnostic.IDE0055.severity = none
# - using directives
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true
# - code-block preferences
csharp_style_namespace_declarations = file_scoped

