.about {
	max-width: 90ch;
	margin: auto;
	> * + * {
		margin-block-start: 1rem;
	}

	div {
		> * + * {
			margin-block-start: 2rem;
		}

		p {
			line-height: 1.6rem;
		}

		a {
			font-style: italic;
			color: hsl(214, 67%, 48%);
		}
	}
}
