.projectCreate {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	form {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		input[type='text'],
		input[type='number'],
		input[type='date'],
		textarea,
		select {
			width: 100%;
		}

		textarea {
			min-height: 3.5rem;
			max-height: 10.5rem;
		}

		fieldset {
			div {
				display: flex;
				align-items: center;
				gap: 2rem;

				label {
					padding-left: 0.25rem;
				}
			}
		}
	}
}

.flexFormGroup {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;

	> div {
		min-width: 20ch;
		flex: 1;
	}
}

.formActions {
	display: flex;
	align-items: center;
	gap: 2rem;
}
