.formFlexGroup {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;

	> div {
		flex: 1;
		min-width: 25ch;
	}
}
.formColGroup {
	/* input: css auto-fill grid with max number of columns  */
	/* Ref: https://css-tricks.com/an-auto-filling-css-grid-with-max-columns */
	--grid-col-max-num: 2;
	--grid-col-gap: 1rem;
	--grid-col-min-width: 25ch;
	--grid-row-gap: 0.5rem;

	/* calc values */
	--gap-count: calc(var(--grid-col-max-num) - 1);
	--total-gap-width: calc(var(--gap-count) * var(--grid-col-gap));
	--grid-item-max-width: calc((100% - var(--total-gap-width)) / var(--grid-col-max-num));

	/* grid */
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(max(var(--grid-col-min-width), var(--grid-item-max-width)), 1fr)
	);
	row-gap: var(--grid-row-gap);
	column-gap: var(--grid-col-gap);
}

.projectCreate {
	display: grid;
	gap: 1rem;

	form {
		display: grid;
		gap: 0.5rem;

		label,
		legend {
			display: block;
			margin-bottom: 0.25rem;
		}

		& input:not([type="radio"]),
		legend,
		textarea,
		select {
			width: 100%;
		}

		& input:not([type="radio"]),
		select,
		textarea {
			padding: 0.25rem;
			outline: 1px solid grey;
			border-width: 0px;
			border-radius: 0.25rem;

			&:focus-visible {
				outline-width: 2px;
				outline-color: var(--color-primary);
			}

			&:not(:placeholder-shown):user-valid {
				outline-width: 2px;
				outline-color: var(--color-success);
			}

			&:not(:placeholder-shown):user-invalid {
				outline-width: 2px;
				outline-color: var(--color-danger);
			}
		}

		input[type="radio"] {
			&:focus-visible {
				outline-width: 2px;
				outline-color: var(--color-primary);
			}
		}

		textarea {
			min-height: 3.5rem;
			max-height: 10.5rem;
		}

		fieldset {
			> div {
				display: flex;
				gap: 2rem;
				align-items: center;
				height: 29.6px;

				> span {
					display: flex;
					gap: 0.5rem;
					align-items: center;

					/* > label {
						margin: 0;
						text-box-trim: both; // future css
						text-box-edge: cap alphabetic;
					} */
				}
			}
		}

		input,
		select,
		textarea,
		fieldset {
			+ div {
				min-height: 1.75rem;
				padding: 0.25rem;
				font-size: 0.9rem;
			}
		}
	}
}

.formActions {
	display: flex;
	gap: 2rem;
	align-items: stretch;

	a,
	button {
		align-content: center;
	}
}

.containerErrorList {
	padding: 0.25rem;
	font-size: 0.9rem;
}
