.projects {
	display: flex;
	gap: 2rem;
}

.projectsSidebar {
	width: 18rem;
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	gap: 1rem;

	> div:first-child {
		display: flex;
		justify-content: space-between;
		align-items: center;

		a {
			width: 100%;
			padding: 0.5rem 1rem;
			background-color: var(--color-success);
			border-radius: 0.3rem;
			display: flex;
			justify-content: space-between;
		}
	}

	nav {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		a {
			padding: 0.5rem 1rem;
			border-radius: 0.3rem;

			span {
				--max-lines: 2;

				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: var(--max-lines);
				overflow: hidden;
			}
		}
	}
}

.projectsOutlet {
	flex-grow: 1;
}

.activeLink {
	background-color: var(--color-primary-light);
}
