.projects {
	display: flex;
	gap: 2rem;
}

.projectsSidebar {
	width: 18rem;
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	gap: 1rem;

	> div:first-child {
		a {
			padding: 0.5rem 1rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	h2,
	span {
		padding: 0 1rem;
	}
}

.projectsOutlet {
	flex-grow: 1;
}
