.project {
	display: grid;
	gap: 2rem;
}

.projectContent {
	display: grid;
	gap: 1rem;

	& div:first-of-type {
		dd {
			text-transform: capitalize;
		}
	}

	dt {
		font-style: italic;
		font-weight: lighter;

		&::after {
			content: ":";
		}
	}
}

.projectActions {
	display: flex;
	align-items: center;
	gap: 2rem;
}
