.projects {
	display: flex;
	gap: 2rem;
}

.projectsSidebar {
	width: 18rem;
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	> div:has(a) {
		a {
			padding: 0.5rem 1rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	hr {
		border: none;
		border-bottom: 1px solid var(--color-gray);
	}

	section {
		display: grid;
		gap: 1rem;

		h2 {
			padding: 0 1rem;
		}

		div {
			span {
				padding: 0 1rem;
			}
		}
	}
}

.projectsOutlet {
	flex-grow: 1;
}
