.projectsNavList {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	a {
		padding: 0.5rem 1rem;
		border-radius: 0.3rem;

		span {
			--max-lines: 2;

			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: var(--max-lines);
			overflow: hidden;
		}
	}
}

.projectsNavListEmpty {
	padding: 0.5rem 1rem;
}

.activeLink {
	background-color: var(--color-primary-light);
}
