/* Resets */
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button,
input:not([type="checkbox"]):not([type="radio"]):not([type="range"]),
textarea,
select {
	font: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
}

textarea {
	resize: vertical;
	min-height: 1.75rem;
}

fieldset {
	padding: 0;
	border: none;
}

/* Variables */
:root {
	/* Dimensions */
	--min-width-page: 375px;
	--standard-radius: 0.3rem;

	/* Colors */
	--brand-blue: hsl(203, 73%, 71%);
	--brand-success: hsl(140 50% 50%);
	--brand-warn: hsl(49 100% 46%);
	--brand-danger: hsl(12 88% 58%);

	--color-primary: hsl(from var(--brand-blue) h s l);
	--color-primary-light: hsl(from var(--brand-blue) h s l / 0.7);
	--color-primary-xlight: hsl(from var(--brand-blue) h s l / 0.3);
	--color-success: hsl(from var(--brand-success) h s l / 0.7);
	--color-success-light: hsl(from var(--brand-success) h s l / 0.4);
	--color-warn: hsl(from var(--brand-warn) h s l / 0.5);
	--color-danger: hsl(from var(--brand-danger) h s l);
	--color-danger-light: hsl(from var(--brand-danger) h s l / 0.7);
	--color-danger-xlight: hsl(from var(--brand-danger) h s l / 0.4);
	--color-gray: hsl(0 0% 60%);
	--color-gray-light: hsl(from var(--color-gray) h s l / 0.2);
}

/* Styles */
body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#root {
	min-height: 100dvh;
	min-width: var(--min-width-page);
	display: flex;
	flex-direction: column;
}

a.action,
button.action {
	padding: 0.25rem 0.5rem;
	border-radius: var(--standard-radius);
	cursor: pointer;

	&.primary {
		background-color: var(--color-primary-light);
		border: 1px solid var(--color-primary);
		&:not(:disabled, [aria-disabled="true"]):hover {
			background-color: var(--color-primary-xlight);
		}
	}

	&.success {
		background-color: var(--color-success);
		border: 1px solid var(--color-success);
		&:not(:disabled, [aria-disabled="true"]):hover {
			background-color: var(--color-success-light);
		}
	}

	&.danger {
		background-color: var(--color-danger-light);
		border: 1px solid var(--color-danger-light);
		&:not(:disabled, [aria-disabled="true"]):hover {
			background-color: var(--color-danger-xlight);
		}
	}

	&.outline {
		background-color: white;
	}

	&:disabled,
	&[aria-disabled="true"] {
		cursor: auto;
		color: var(--color-gray);
		background-color: var(--color-gray-light);
		border: 1px solid var(--color-gray);
	}
}
