/* Resets */
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button,
input:not([type='checkbox']):not([type='radio']):not([type='range']),
textarea,
select {
	font: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
}

textarea {
	resize: vertical;
	min-height: 1.75rem;
}

fieldset {
	padding: 0;
	border: none;
}

/* Variables */
:root {
	/* Dimensions */
	--min-width-page: 375px;

	/* Colors */
	--brand-blue: 203, 73%, 71%;
	--brand-success: 140, 50%, 50%;
	--brand-warn: 49, 100%, 46%;
	--brand-danger: 12, 88%, 58%;

	--color-primary: hsla(var(--brand-blue));
	--color-primary-light: hsla(var(--brand-blue), 0.5);
	--color-success: hsla(var(--brand-success), 0.6);
	--color-warn: hsla(var(--brand-warn), 0.5);
	--color-danger: hsla(var(--brand-danger), 0.7);
}

/* Styles */
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
	min-height: 100dvh;
	min-width: var(--min-width-page);
	display: flex;
	flex-direction: column;
}

/* Utility Classes */
.block {
	display: block;
}
