.project {
	> * + * {
		margin-block-start: 2rem;
	}
}

.projectContent {
	> * + * {
		margin-block-start: 1rem;
	}

	& div:first-of-type {
		dd {
			text-transform: capitalize;
		}
	}

	dt {
		font-style: italic;
		font-weight: lighter;

		&::after {
			content: ":";
		}
	}
}

.projectActions {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.error {
	padding: 1rem;
	font-weight: bold;
	color: white;
	text-align: center;
	background: var(--color-danger);
	border-radius: 0.5rem;
}
